@use "../utils" as u;

.categorySingleHero {
  width: 100%;
  aspect-ratio: 1.5 / 1;
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 1;

  &__img {
    grid-column: 1;
    grid-row: 1;
  }

  &__overlay {
    grid-column: 1;
    grid-row: 1;
    z-index: 2;
    background-color: var(--secondary-variant-ol);
    color: var(--background-color);
    text-shadow: var(--txt-shadow-dk);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 1rem 0;
  }

  &__content {
    padding: 0.65rem;

    h1 {
      font-size: var(--step-3);
    }
  }

  &__menu {
    span {
      display: flex;
      gap: 0.35rem;
      margin-bottom: 0.35rem;
    }

    svg {
      font-size: var(--step-1);
    }

    a,
    p {
      font-size: var(--step-0);
    }
  }

  @include u.breakpoint-min(med) {
    h1 {
      font-size: var(--step-4);
    }
  }

  @include u.breakpoint-min(lg) {
    aspect-ratio: 2.25 / 1;
  }

  @include u.breakpoint-min(xl) {
    aspect-ratio: 3.5 / 1;

    h1 {
      font-size: var(--step-5);
    }
  }
}

.categorySingle {
  margin: 4rem 0;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .bodyImage {
      max-width: 48rem;
      aspect-ratio: 1;
      border-radius: 1.15rem;
      box-shadow: var(--txt-shadow-dk);
      margin-bottom: var(--space-s);
    }

    p {
      font-size: var(--step-0);
      margin-bottom: var(--space-m);
    }
  }

  &__header {
    text-align: center;
    margin-bottom: 4rem;

    svg {
      color: var(--background-variant);
      font-size: 6rem;
      margin-bottom: var(--space-2xs);
    }

    .dividerBar {
      height: 4px;
      width: 6rem;
      background-color: var(--background-variant);
      margin: 0 auto;
      margin-top: 1rem;
    }
  }

  &__blogs {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-xl);

    @include u.breakpoint-min(xl) {
      flex-direction: row;
      justify-content: space-between;
    }

    .card {
      color: var(--color-primary);
      max-width: 32rem;
      position: relative;
      border-radius: calc(var(--curve) * 1px);
      overflow: hidden;
      display: block;
      aspect-ratio: 1;
      border: none;
      box-shadow: var(--txt-shadow-dk);

      &__imgOverlay {
        background-color: var(--secondary-variant-ol);
        width: 32rem;
        aspect-ratio: 1;
        z-index: 1;
        border-radius: calc(var(--curve) * 1px);
        position: absolute;
        top: 0;
        border: none;
      }

      &__title {
        position: absolute;
        top: 8%;
        margin: 0 0.5rem;
        z-index: 2;
        color: var(--background-color);
        text-align: center;
        text-shadow: var(--txt-shadow-dk);
      }

      &__img {
        aspect-ratio: 1;
        border-radius: calc(var(--curve) * 1px) calc(var(--curve) * 1px) 0 0;
      }

      &__overlay {
        border-radius: calc(var(--curve) * 1px);
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 2;
        border-radius: calc(var(--curve) * 1px);
        transform: translateY(100%);
        transition: 0.2s ease-in-out;

        &:hover {
          transform: translateY(0);
        }
      }

      &__header {
        position: relative;
        border-radius: calc(var(--curve) * 1px) 0 0 0;
        transform: translateY(-52%);
        background-color: var(--background-color);
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 1rem;
        padding: 1rem;
        margin-top: 2rem;
        transition: var(--transition-state);
        z-index: 2;
      }

      &__headerText {
        margin: 1rem 0;
      }

      &__author {
        font-size: var(--step-0);

        @include u.breakpoint-min(med) {
          font-size: var(--step-1);
        }
      }

      &__thumb {
        max-width: 2.5rem;
        max-height: 2.5rem;
        aspect-ratio: 1;
        border-radius: 50%;
        border: solid 2px var(--accent-color-two);
        object-fit: contain;

        @include u.breakpoint-min(med) {
          max-width: 4rem;
          max-height: 4rem;
          margin-bottom: 2rem;
        }
      }

      &__date {
        font-size: var(--step--2);
        font-style: italic;

        @include u.breakpoint-min(med) {
          font-size: var(--step--1);
          margin-bottom: 1.85rem;
        }

        @include u.breakpoint-min(lg) {
          margin-bottom: 0.65rem;
        }
      }

      &__arc {
        width: 80px;
        height: 80px;
        position: absolute;
        bottom: 99%;
        right: 0;
        z-index: 1;

        path {
          fill: var(--background-color);
        }
      }

      &__excerpt {
        padding: 0 2em 2em;
        margin: 0;
        flex: 2;
        color: #d7bdca;
        font-family: "MockFlowFont";
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
      }
    }

    .card:hover .card__header {
      transform: translateY(-100%);
    }

    @include u.breakpoint-min(med) {
    }
  }
}
