:root {
  /* Color Theme Swatches in HSLA */
  --background-color: hsla(219, 29%, 11%, 1);
  --color-variant: hsla(22, 30%, 49%, 1);
  --color-primary: hsla(28, 45%, 72%, 1);
  --color-secondary: hsla(39, 10%, 61%, 1);
  --btn-color: hsla(337, 40%, 46%, 1);

  /* Overlays */

  /* Gradients */
}
