:root {
  --transition-state: all 0.3s ease-in-out;
  --curve: 40;
}

body {
  background: var(--background-color);
  color: var(--color-primary);
  font-family: var(--primary-font-stack);
}

.sr-only {
  display: none;
}
