@use "../utils" as u;

//wfNews Cards

.homeWFNews {
  .card {
    background: transparent;
    border: none;
    &__img {
      width: 100%;
    }

    &__header {
      position: relative;
      width: fit-content;
      margin-bottom: 2rem;
    }

    &__title {
      font-family: var(--primary-font-stack);
      font-size: var(--step-2);
      background-color: var(--color-primary);
      display: block;
      padding: var(--space-2xs) 1.5rem;
      position: absolute;
      top: -1rem;
      right: 5%;
    }

    &__content {
      p {
        font-size: var(--step-0);
        line-height: 1.15;
        margin-bottom: 4rem;
        text-shadow: var(--txt-shadow-dk);
      }
    }

    &__link {
      display: grid;
      grid-template-columns: 1;
      grid-template-rows: 1;
      align-items: center;

      .linkbar {
        height: var(--step-0);
        width: 3.4rem;
        background-color: var(--color-primary);
        grid-row: 1;
        grid-column: 1;
        padding: 1rem;
      }

      a {
        grid-row: 1;
        grid-column: 1;
        margin-left: 0.5rem;
        text-shadow: var(--txt-shadow-dk);
        transition: all 0.3s ease-in-out;
        padding: 0.29rem 0.29rem 0.29rem 0;
        max-width: fit-content;

        &:hover {
          background-color: var(--color-primary);
        }
      }
    }

    @include u.breakpoint-min(xl) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1rem;

      &__title {
        right: -30%;
        top: 1.5rem;
        height: fit-content;
      }

      &__content {
        margin-top: 6rem;
      }
    }
  }
}

.news {
  .card {
    background: transparent;
    position: relative;
    color: var(--background-color);
    border: none;
    max-width: 28rem;
    &__img {
      max-width: 28rem;
      aspect-ratio: 1;
      margin-bottom: -2rem;
    }

    &__header {
      position: relative;
      width: fit-content;
      margin-bottom: 2rem;
    }

    &__title {
      font-family: var(--primary-font-stack);
      font-size: var(--step-2);
      background-color: var(--color-primary);
      display: block;
      padding: var(--space-2xs) 1.5rem;
      position: absolute;
      right: 5%;
    }

    &__content {
      padding: 1rem;
      background: rgb(155, 155, 33);
      background-image: linear-gradient(
        347deg,
        rgba(155, 155, 33, 0.93) 0%,
        rgba(115, 126, 60, 0.97) 26%,
        rgba(84, 104, 81, 1) 100%
      );
      p {
        font-size: var(--step-0);
        line-height: 1.15;
        margin-bottom: 4rem;
        text-shadow: var(--txt-shadow-dk);
      }
    }

    &__link {
      display: grid;
      grid-template-columns: 1;
      grid-template-rows: 1;
      align-items: center;

      .linkbar {
        height: var(--step-0);
        width: 3.4rem;
        background-color: var(--color-primary);
        grid-row: 1;
        grid-column: 1;
        padding: 1rem;
      }

      a {
        grid-row: 1;
        grid-column: 1;
        margin-left: 0.5rem;
        text-shadow: var(--txt-shadow-dk);
      }
    }

    @include u.breakpoint-min(xl) {
      display: grid;
      grid-template-columns: auto 1fr;
      max-width: 100%;

      &__title {
        top: 3rem;
        right: -30%;
        height: fit-content;
        z-index: 5;
      }

      &__content {
        position: relative;
        padding-left: 2rem;
        top: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }
  }
}

//event cards

.homeEvents,
.events {
  .card {
    max-width: 42rem;
    background-color: var(--svg-fill);
    box-shadow: 1px 1px 3px var(--background-variant);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include u.breakpoint-min(xl) {
      height: 40rem;
    }

    &__header {
      background-color: var(--color-primary-dk);
      color: var(--background-color);
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 0.35rem;
      height: 10rem;
      justify-self: flex-start;

      svg {
        font-size: 6.8rem;
      }
    }

    &__body {
      margin-top: -1rem;
      padding: 1rem 2rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    &__title {
      h4 {
        font-family: var(--primary-font-stack);

        margin-bottom: var(--space-2xs);
        font-size: var(--step-1);
        font-weight: bold;
        text-align: center;
        padding-bottom: 1rem;
        border-bottom: 1px solid var(--color-primary-dk);
      }

      h5 {
        font-family: var(--primary-font-stack);
        font-size: var(--step-0);
        margin-bottom: var(--space-3xs);
      }

      .card__date {
        font-style: italic;
        margin-bottom: var(--space-l);
      }
    }

    &__content {
      p {
        font-size: var(--step-0);
        margin-bottom: 2rem;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
      }
    }

    &__links {
      display: flex;
      justify-content: space-between;
      a {
        display: flex;
        align-items: center;
        gap: 0.35rem;
        font-size: var(--step--2);

        @include u.breakpoint-min(med) {
          font-size: var(--step-0);
        }
      }
      .mailIcon {
        font-size: var(--step-0);
      }

      .arrowIcon {
        font-size: var(--step-0);
      }
    }
  }
}

//blog cards

.homeBlogs,
.blogs {
  .card {
    color: var(--color-primary);
    max-width: 32rem;
    position: relative;
    border-radius: calc(var(--curve) * 1px);
    overflow: hidden;
    display: block;
    aspect-ratio: 1;
    border: none;

    &__imgOverlay {
      background-color: var(--secondary-variant-ol);
      width: 32rem;
      aspect-ratio: 1;
      z-index: 1;
      border-radius: calc(var(--curve) * 1px);
      position: absolute;
      top: 0;
      border: none;
    }

    &__title {
      position: absolute;
      top: 8%;
      margin: 0 0.5rem;
      z-index: 2;
      color: var(--background-color);
      text-align: center;
      text-shadow: var(--txt-shadow-dk);
    }

    &__img {
      aspect-ratio: 1;
      border-radius: calc(var(--curve) * 1px) calc(var(--curve) * 1px) 0 0;
    }

    &__overlay {
      border-radius: calc(var(--curve) * 1px);
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 2;
      border-radius: calc(var(--curve) * 1px);
      transform: translateY(100%);
      transition: 0.2s ease-in-out;

      &:hover {
        transform: translateY(0);
      }
    }

    &__header {
      position: relative;
      border-radius: calc(var(--curve) * 1px) 0 0 0;
      transform: translateY(-52%);
      background-color: var(--background-color);
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 1rem;
      padding: 1rem;
      transition: var(--transition-state);
      z-index: 2;
    }

    &__headerText {
      margin: 1rem 0;
    }

    &__author {
      font-size: var(--step-0);

      @include u.breakpoint-min(med) {
        font-size: var(--step-1);
      }
    }

    &__thumb {
      max-width: 2.5rem;
      max-height: 2.5rem;
      aspect-ratio: 1;
      border-radius: 50%;
      border: solid 2px var(--accent-color-two);
      object-fit: contain;

      @include u.breakpoint-min(med) {
        max-width: 4rem;
        max-height: 4rem;
        margin-bottom: 2rem;
      }
    }

    &__date {
      font-size: var(--step--2);
      font-style: italic;

      @include u.breakpoint-min(med) {
        font-size: var(--step--1);
        margin-bottom: 1.85rem;
      }

      @include u.breakpoint-min(lg) {
        margin-bottom: 0.65rem;
      }
    }

    &__arc {
      width: 80px;
      height: 80px;
      position: absolute;
      bottom: 99%;
      right: 0;
      z-index: 1;

      path {
        fill: var(--background-color);
      }
    }

    &__excerpt {
      padding: 0 2em 2em;
      margin: 0;
      flex: 2;
      color: #d7bdca;
      font-family: "MockFlowFont";
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
    }
  }

  .card:hover .card__header {
    transform: translateY(-100%);
  }

  @include u.breakpoint-min(med) {
  }
}

// community cards

.community {
  .card {
    max-width: 100%;
    padding: 1rem;
    border: none;
    position: relative;
    background-color: transparent;

    &__wrapper {
      display: grid;
      align-items: center;
      justify-content: center;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;

      @include u.breakpoint-min(med) {
        grid-template-columns: 1fr 1fr;
      }
    }

    &__logoWrapper {
      color: var(--background-color);
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 32rem;
      padding: 2rem;
      aspect-ratio: 1;
      grid-column: 1;
      box-shadow: 1px 1px 3px var(--background-variant);
      grid-row: 1;
    }

    &__logo {
      font-size: 16rem;
      mix-blend-mode: overlay;
      opacity: 0.35;
    }

    &__inner {
      margin-top: 1rem;
      text-align: center;
      max-width: 30rem;
      aspect-ratio: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 1rem;
      grid-column: 1;
      grid-row: 1;
      align-self: center;
      justify-self: center;
      margin-bottom: 0.75rem;
      box-shadow: 1px 1px 3px var(--background-variant);

      p {
        font-size: var(--step-0);
        margin-bottom: 2rem;

        span {
          color: var(--background-color);
          font-weight: 700;
        }
      }
    }

    &__list {
      li {
        display: flex;
        align-items: center;
        gap: 0.65rem;
        margin-bottom: var(--space-s);
        font-size: var(--step-0);
      }
    }

    &__link {
      border: 2px solid var(--color-primary-dk);
      width: 80%;
      padding: 1rem 2rem;
      border-radius: 0.35rem;
      margin-top: 0.15rem;
    }
  }

  .card-l-logoBG {
    background-color: var(--color-primary);
  }

  .card-l-innerBG {
    background-color: var(--color-primary-lt);
    @include u.breakpoint-min(med) {
      margin-left: -8rem;
      grid-column: 2;
    }
  }

  .card-r-logoBG {
    background-color: var(--secondary-variant);

    @include u.breakpoint-min(med) {
      grid-column: 2;
    }
  }

  .card-r-innerBG {
    background-color: var(--svg-fill);

    @include u.breakpoint-min(med) {
      grid-column: 1;
      margin-right: -8rem;
    }
  }
}

//plant info cards

.plantCards {
  &__content {
    .plantCard {
      border: none;
      max-width: 32rem;
      background-color: transparent;

      @include u.breakpoint-min(med) {
      }

      @include u.breakpoint-min(lg) {
        display: grid;
        max-width: 100%;
        position: relative;
        grid-template-columns: 1fr 1fr;
      }

      @include u.breakpoint-min(xl) {
        grid-template-columns: 0.75fr 1fr;
      }

      &__img {
        aspect-ratio: 1;
        background-color: var(--color-primary-dk);
        display: flex;
        align-items: center;
        justify-content: center;
        svg {
          font-size: 12rem;
          color: var(--color-primary-lt);
        }

        @include u.breakpoint-min(lg) {
          margin-bottom: 4rem;
          width: 100%;
          grid-column: 1;
        }
      }

      &__body {
        padding: 1rem;
        background-color: var(--svg-fill);
        h4 {
          font-size: var(--step-1);
          background-color: var(--secondary-variant);
          color: var(--background-color);
          padding: 0.35rem;
          margin-top: -2rem;
          margin-right: -2rem;
          margin-bottom: var(--space-xs);

          @include u.breakpoint-min(lg) {
            margin-right: 2rem;
            margin-left: -2rem;
          }
        }

        @include u.breakpoint-min(lg) {
          margin-top: 4rem;
          grid-column: 2;
        }
      }

      &__header {
        p {
          font-weight: 700;
        }
      }

      &__content {
        margin: var(--space-s) 0;
      }

      &__contact {
        margin-bottom: var(--space-m);
        h5 {
          font-family: var(--primary-font-stack);
          margin-bottom: var(--space-xs);
        }

        a {
          margin-bottom: var(--space-3xs);
        }
      }

      a {
        display: flex;
        align-items: center;
        gap: 0.35rem;

        svg {
          font-size: var(--step--1);
        }
      }
    }
  }
}

// volunteer cards

.volunteer {
  .card {
    background-color: transparent;
    border: none;
    max-width: 32rem;
    &__header {
      max-width: 32rem;
    }

    &__img {
      aspect-ratio: 1;
      width: 100%;
    }

    &__body {
      position: relative;
      text-shadow: var(--txt-shadow-dk);
      padding: var(--space-s);
      color: var(--background-color);
      background: rgb(155, 155, 33);
      background-image: linear-gradient(
        347deg,
        rgba(155, 155, 33, 0.93) 0%,
        rgba(115, 126, 60, 0.97) 26%,
        rgba(84, 104, 81, 1) 100%
      );

      h5 {
        background-color: var(--color-primary);
        padding: var(--space-3xs) 1.15rem;
        position: absolute;
        top: -1.25rem;
        right: 0;
      }
    }

    &__content {
      margin: 2rem 0;

      p {
        font-size: var(--step-0);
      }
    }

    &__media {
      margin-bottom: var(--space-m);
      p {
        font-size: var(--step-0);
        margin-bottom: var(--space-2xs);
      }

      a {
        display: flex;
        align-items: center;
        gap: 0.35rem;
        margin-bottom: var(--space-3xs);

        svg {
          fill: var(--color-primary);
          filter: drop-shadow(1px 1px 1px var(--background-color));
        }
      }
    }

    &__link {
      display: grid;
      grid-template-columns: 1;
      grid-template-rows: 1;
      align-items: center;

      .linkbar {
        height: var(--step-0);
        width: 3.4rem;
        background-color: var(--color-primary);
        grid-row: 1;
        grid-column: 1;
        padding: 1rem;
      }

      a {
        grid-row: 1;
        grid-column: 1;
        margin-left: 0.5rem;
        text-shadow: var(--txt-shadow-dk);
      }
    }

    @include u.breakpoint-min(lg) {
      display: grid;
      grid-template-columns: 0.75fr 1fr;
      max-width: 100%;

      &__body {
        position: relative;
        top: 2rem;

        h5 {
          left: -1.25rem;
          right: 1.25rem;
          top: -1rem;
        }
      }
    }

    @include u.breakpoint-min(xl) {
      grid-template-columns: auto 1fr;

      h5 {
        max-width: 32rem;
      }
    }
  }
}

// category cards

.categories {
  .card {
    background-color: transparent;
    border: none;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    max-width: 32rem;

    &:hover {
      animation: wiggle 0.1s alternate;
    }

    &__background {
      grid-row: 1;
      grid-column: 1;
      z-index: 1;
      width: 100%;
      position: relative;
    }

    &__img {
      aspect-ratio: 1 / 1;
      width: 100%;
      border-radius: 0.85rem;
    }

    &__overlay {
      aspect-ratio: 1 / 1;
      width: 100%;
      background-color: var(--background-variant-ol);
      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;
      border-radius: 0.85rem;
      border: 1px solid var(--color-primary);
      transition: all 0.3 ease-in-out;

      &:hover {
        background-color: var(--color-primary-dk-ol);
      }
    }

    &__content {
      grid-row: 1;
      grid-column: 1;
      z-index: 3;
      color: var(--background-color);
      text-shadow: 1px 1px 4px var(--color-primary);
      padding: var(--space-2xs);
      align-self: center;
      justify-self: center;
      max-width: 26rem;

      h2 {
        margin-bottom: 1rem;
      }
    }
  }

  @include u.breakpoint-min(med) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;

    .card {
      max-width: 20rem;
      height: fit-content;
    }
  }
}
