@use "../utils" as u;

.header {
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 1;

  &__bgContainer {
    grid-row: 1;
    grid-column: 1;
    max-height: 24rem;
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 1;

    @include u.breakpoint-min(xl) {
      margin-top: -8rem;
    }
  }

  &__background {
    fill: #b6d2b3;
    z-index: 1;
    grid-column: 1;
    grid-row: 1;
  }

  &__background__lt {
    fill: #d4f1d1;
    grid-column: 1;
    grid-row: 1;
    margin-top: 1.2rem;

    @include u.breakpoint-min(md) {
      margin-top: 2rem;
    }
  }

  .container {
    grid-row: 1;
    grid-column: 1;
  }

  .navContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    z-index: 2;

    .logoContainer {
      max-width: 10rem;

      @include u.breakpoint-min(md) {
        max-width: 12rem;
      }

      @include u.breakpoint-min(xl) {
        max-width: 16rem;
      }
    }

    .mobileNav__toggle {
      max-width: fit-content;
      padding: var(--space-2xs);
      background-color: transparent;
      border: none;
      cursor: pointer;
      margin-bottom: var(--space-s);

      svg {
        width: 2rem;
        height: 2rem;
        color: var(--color-primary-dk);
      }

      @include u.breakpoint-min(xl) {
        display: none;
      }
    }

    .navbar {
      position: absolute;
      top: 100%;
      left: -150%;
      margin-bottom: 1rem;
      padding: var(--space-s) 0;
      transition: var(--transition-state);
      background-color: var(--color-primary-dk-ol);
      backdrop-filter: blur(5px);
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: var(--space-s);

      .navmenu {
        display: flex;
        flex-direction: column;
        gap: var(--space-2xs);
        align-items: center;
        max-width: 60rem;

        .nav__item {
          padding: var(--space-3xs) 0;
          transition: var(--transition-state);

          &:hover {
            color: var(--color-primary-dk);
          }
        }

        .menu__link {
          font-size: 1.25rem;
          font-weight: 700;
        }

        &__icons {
          display: flex;
          align-items: center;
          gap: var(--space-2xs);

          .searchIcon {
            width: 1.75rem;
            height: 1.75rem;
            color: var(--color-primary-dk);
          }
        }
      }

      .navMedia {
        display: flex;
        gap: var(--space-3xs);
        color: var(--color-primary-dk);

        svg {
          width: 1.25rem;
          height: 1.25rem;
        }
      }

      @include u.breakpoint-min(xl) {
        background-color: transparent;
        width: fit-content;
        position: static;
        backdrop-filter: none;
        flex-direction: column-reverse;
        align-items: flex-end;
        gap: var(--space-3xs);

        .navmenu {
          flex-direction: row;
          width: 70rem;
          gap: var(--space-m);
          justify-content: flex-end;
          margin-right: 1rem;
        }

        .navMedia {
          margin-right: 1rem;
        }
      }
    }

    .shownav {
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
