@use "../utils" as u;

.modalOverlay {
  position: absolute;
  z-index: 10;
  min-height: 100vh;
  width: 100%;
  top: 0;
  background-color: var(--modal-bg);
  backdrop-filter: blur(5px);
  color: var(--background-color);
  padding-bottom: 4rem;

  &__toggle {
    background-color: transparent;
    border: 1px solid var(--background-color);
    border-radius: 50%;
    color: var(--background-color);
    margin: 1rem;
    padding: 0.35rem;
    font-size: 1.55rem;
    font-weight: bold;
    cursor: pointer;
    float: right;
    box-shadow: 2px 2px 4px var(--color-primary-dk);
    transition: all 0.3s ease-in-out;
    position: sticky;
    top: 2rem;

    &:hover {
      color: var(--btn-color-two);
      border-color: var(--btn-color-two);
      transform: scale(90%);
    }
  }

  &__content {
    margin-top: 4rem;

    h2 {
      margin-bottom: var(--space-xs);
    }

    h4 {
      margin-bottom: var(--space-l);
    }

    h2,
    h4,
    p {
      text-shadow: var(--txt-shadow-dk);
    }

    p {
      font-size: var(--step-0);
      margin-bottom: var(--space-s);
      line-height: 1.2;
    }
  }

  &__header {
    text-align: center;
    svg {
      color: var(--background-variant);
      font-size: 6rem;
      margin-bottom: var(--space-2xs);
      filter: drop-shadow(1px 1px 3px var(--color-primary-dk));
    }

    .dividerBar {
      height: 4px;
      width: 6rem;
      background-color: var(--background-variant);
      margin: 0 auto;
      margin-bottom: var(--space-m);
      box-shadow: var(--txt-shadow-dk);
    }

    h5 {
      margin-bottom: var(--space-xl);
    }
  }

  &__body {
    max-width: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;

    section {
      margin-bottom: var(--space-xl);
    }

    h5 {
      margin-bottom: var(--space-xs);
      color: var(--color-primary-lt);
      border-bottom: 2px solid var(--color-primary-lt);
    }

    .note {
      font-style: italic;
      color: var(--svg-fill);
    }
  }

  &__gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    margin: 4rem 0 2rem 0;
  }

  &__galleryImg {
    max-width: 16rem;

    .gallery__img {
      margin-bottom: var(--space-xs);
    }

    p {
      font-size: var(--step--1);

      span {
        font-style: italic;
      }
    }
  }

  ul {
    margin: 4rem 0;
    margin-left: 2rem;
    max-width: 90ch;

    li {
      margin-bottom: 2rem;
      font-size: var(--step--1);
      line-height: 1.3;

      span {
        font-weight: bold;
        color: var(--svg-fill);
      }
    }
  }

  .search {
    margin: 4rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    .formControl {
      display: flex;
      align-items: center;
      margin-top: 2rem;
    }

    &__btn {
      padding: 0.5rem 1rem;
      height: 3rem;
      font-size: var(--step-0);
      border: none;
      border-radius: 1.85rem 0 0 1.85rem;
      background-color: var(--color-primary);
      color: var(--background-color);
    }

    &__input {
      width: 100%;
      height: 3rem;
      max-width: 80%;
      background-color: var(--background-color);
      color: var(--color-primary-dk);
      padding: 0.5rem 1rem;
      font-size: var(--step-0);
      border-radius: 0 1.85rem 1.85rem 0;
      border: none;

      &:focus {
        outline: none;
      }

      &::placeholder {
        color: var(--background-secondary);
      }
    }
  }

  &__result {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    margin: 0 auto;

    h3 {
      margin: 4rem 0;
      color: var(--svg-fill);
      border-bottom: solid 4px var(--svg-fill);
      padding-bottom: 0.35rem;
    }

    .modalSearch {
      display: flex;
      align-self: flex-start;
      align-items: center;
      gap: var(--space-s);
      margin-bottom: 2rem;
      font-family: var(--primary-font-stack);

      &__img {
        max-width: 4rem;
        aspect-ratio: 1;
        border-radius: 0.85rem;
        box-shadow: var(--txt-shadow-dk);
      }

      h5 {
        font-size: var(--step--2);
        font-family: var(--primary-font-stack);
        color: var(--color-primary-lt);
        margin-bottom: 0.35rem;

        @include u.breakpoint-min(med) {
          font-size: var(--step--1);
        }

        @include u.breakpoint-min(lg) {
          font-size: var(--step-0);
        }
      }

      .categoryTitle {
        text-align: center;
      }

      p {
        margin-bottom: 0;
        font-size: var(--step--2);
        font-weight: 300;

        @include u.breakpoint-min(lg) {
          font-size: var(--step--1);
        }
      }

      .modalSearch__wfIndexName {
        font-size: var(--step--1);
        max-width: 36rem;
      }
    }

    flex-direction: column;
    align-items: center;
  }
  .contentSearch {
    display: flex;
    flex-direction: column;
    align-items: center;

    .categoryTitle {
      text-align: center;
    }
  }

  .commonIndexContent {
    margin-top: 4rem;
    .container {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      align-items: center;
    }

    &__header {
      text-align: center;
      margin-bottom: 4rem;

      svg {
        color: var(--background-variant);
        font-size: 6rem;
        margin-bottom: var(--space-2xs);
      }

      .dividerBar {
        height: 4px;
        width: 6rem;
        background-color: var(--background-variant);
        margin: 0 auto;
      }

      h2 {
        text-shadow: var(--txt-shadow-dk);
      }

      h5 {
        margin-bottom: 1rem;
        color: var(--color-primary-lt);
        text-shadow: var(--txt-shadow-dk);
      }
    }

    &__link {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.35rem;
      transition: all 0.3s ease-in-out;
      cursor: pointer;
      &:hover {
        color: var(--color-primary-lt);
      }
    }

    &__img {
      max-width: 3.15rem;
      aspect-ratio: 1;
      border-radius: 50%;
      border: 2px solid var(--accent-color-two);
    }
  }
}
