// keyframe mixin

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}

// wiggle animation

@keyframes wiggle {
  0% {
    transform: rotate(-1deg);
  }
  100% {
    transform: rotate(1deg);
  }
}

// aos custom animations

[data-aos="rotate-c"] {
  transform: rotate(-360deg);
  transition-property: transform;

  &.aos-animate {
    transform: rotate(0deg);
  }
}
